.menu {
  background: url(../../img/mainBg.jpg) center center no-repeat;
  min-height: 640px;
}

.menu h1 {
  padding-top: 180px;
  /*margin-top: 111px;*/
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  color: #FFFFFF;
}

.menu-subtitle,
.menu-subtitle2 {
  font-weight: 700;
  line-height: 35px;
}

.menu-subtitle2 {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

button {
  display: block;
  width: 120px;
  height: 30px;
  border: 1px solid white;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  transition: .3s ease-in-out;
}

.menu button:hover {
  filter: drop-shadow(5px 5px 15px rgba(255, 255, 255, 0.25));
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.25);
  background: #000000 !important;
}