.menu {
	background: url(./../../../img/mainBg.jpg) center center no-repeat;
	min-height: 640px;
}

.HomePage h1 {
	margin-top: 111px;
	/* font-family: 'Merienda';
	font-style: normal; */
	font-weight: 700;
	font-size: 40px;
	line-height: 58px;
	color: #FFFFFF;
}