.cards .col-md-3 {
  width: 220px;
  height: 240px;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 8px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.cards .col-md-3:hover {
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
}

.cards h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

/*.cards .h6-2 {*/
/*  margin-top: 12px !important;*/
/*}*/

.cards .price {
  margin: 10px 10px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.cards img {
  padding-top: 22px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
