.navbar2 {
  /*padding-top: 70px;*/
  /*position: absolute;*/
  /*top: 30px;*/
  /*left: 150px;*/
  width: 355px;
  height: 40px;
}

.navbar2 a {
  /*color: black !important;*/
  text-decoration: none;
  font-size: 12px;
  line-height: 17px;;
}

.navbar2 a:hover {
  text-decoration: underline;
}