.filter {
  margin-left: 83px;
}

.filterText {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-right: 35px;
}

.filter button {
  width: 75px;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px 0 0 4px;
  font-size: 12px;
  line-height: 17px;
  margin-right: 5px;
  transition: .3s ease-in-out;
}

.filter button:hover {
  border: 1px solid rgba(0, 0, 0, 0.25);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  /*background: #FFFFFF;*/
}

.filter button:last-child {
  margin-right: 0;
}